<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archiv</a></li>
  <li><a href="{{ root_url }}/informationen/">Über die JUG</a></li>
  <li><a href="{{ root_url }}/informationen/kontakt.html">Kontakt</a></li>
  <li><a target="googlekalender" href="https://www.google.com/calendar/embed?src=v1g4a4eq9en3gh5vn47tmth5cc%40group.calendar.google.com&ctz=Europe/Berlin">Kalender</a></li>
  <li><a href="{{ root_url }}/freunde/">Freunde</a></li>
  
</ul>
